body
{

	background: url("../muhammad-ali.jpg");
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container
{
	width: 400px;
	height: 1300px;

  margin-right: auto;
  margin-left: 50px;

	padding: 30px;

	background: #0E2443;
	opacity: 0.7;

 	color: white;
	font-size: 20px;
	font-family: 'Niramit', sans-serif;

}

h1
{
	text-align: center;
		font-size: 70px;
		font-family: 'Cutive Mono', monospace;
}

h2
{
	border-radius: 10px;
	background: #E6E3DC;
	text-align: center;
	font-family: 'Cutive Mono', monospace;
	color: #0E2443;
}

p1
{
	font-weight: bolder;
}
